* {
  background-color: #1a1a1a;
}

#title {
  color: #fafafa;
  text-align: center;
  font-size: 78px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: overline;
}

.subtitle {
  color: #fafafa;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-style: oblique;
}

.post_title {
  color: #fafafa;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img {
  justify-content: center;
  text-align: center;
}

.profile_image {
  border-radius: 90%;
  width: 200px;
  margin-bottom: 50px;
  border: 4px solid #fafafa;
}

.code {
  width: 100%;
  height: 32rem;
  border-radius: 8px;
}

.frases {
  color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-bottom: 300px;
}

.social {
  border-radius: 98px;
  text-align: center;
  list-style-type: none;
}

.email {
  color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.insta {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fafafa;
}

.rocket {
  color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link {
  color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.git {
  color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
